APP_NAME="Relasyon Laboratuvarı"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8090
APP_TIMEZONE=Europe/Istanbul
APP_LOCALE=tr
APP_FALLBACK_LOCALE=tr
APP_FAKER_LOCALE=tr_TR

APP_PORT=8090
DB_EXPOSE_PORT=54329
DATASET_PROFILE=small

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=hospital_lab
DB_USERNAME=hospital
DB_PASSWORD=hospital

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=array

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
